/* RESET */
img {
    max-width: 100%;
}

/* COMMON */
.btn_buy {
    background-color: var(--btn-orange) ;
}

.btn_info {
    background-color: var(--btn-blue);
    color: white;
    padding: .5em;
    font-size: 1rem;
    border-radius: 20px;
}

.btn_explore {
    background-color: var(--btn-gray);
    color: var(--btn-blue);
    border-radius: 20px;
}
/* /COMMON */
    

/* UTILITIES */
:root {
    --btn-orange: #CD3D0F;
    --btn-blue: #2D64E6;
    --btn-gray: #D9DADC;
    --bg-darkgray: #1F1F1F;
    --bg-lightgray: #BEBCBB;
    --bg-darkblue: #161C3B;
    --bg-lightblue: #00439C;
}
/* /UTILITIES */

/* HEADER */
.header-top {
    background-color: black;
}

header a {
    text-decoration: none;
}

.header-bottom {
    height: 80px;
}

.header_top_logo {
    width: 100px;
}
/* /HEADER */

/* JUMBOTRON */
#jumbotron,
#jumbotron2 {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    height: 680px;
}

#jumbotron .container {
    margin-top: 5em;
}

#jumbotron h1 {
    font-size: 3rem;
}

#jumbotron2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 800px;
}
/* /JUMBOTRON */

/* PS5 */
#ps5 .title-bottom {
    font-size: 1.5rem;
}

#ps5 .list_items .item-name {
    text-align: center;
}
/* /PS5 */

/* NEW RELEASE */
#new-release {
    background-color: var(--bg-darkgray);
}
/* /NEW-RELEASE */

/* BANNER */
#banner {
    background-color: var(--bg-lightgray);
}

#banner2 {
    background-color: var(--bg-darkblue);
}
/* /BANNER */

/* FOOTER */
footer {
    background-color: var(--bg-lightblue);
}

footer ul {
    list-style-type: none;
}

footer ul a {
    color: white;
    text-decoration: none;
}

footer ul li {
    margin-bottom: 1rem;
}
/* /FOOTER */